/* Home.module.css */


.homeContainer {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  